{% extends 'base.html' %}
{% block title %}Logout{% endblock title %}

{% block content %}
<div class="list-group marginuz">
    <div class="list-group-item bg-detail text-dark">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                <p>Are you sure you want to log out of your profile?</p>
                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'user_profile' user.pk %}'">Cancel</button>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Logout</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}