{% extends 'base.html' %}
{% block title %}Parolni tiklash{% endblock title %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger mt-3">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {% if "This password is too short." in error %}
                        Parolingiz juda qisqa. U kamida 8 belgidan iborat bo'lishi kerak.<br>
                    {% elif "This password is too common." in error %}
                        Bu parol juda sodda.<br>
                    {% elif "This password is entirely numeric." in error %}
                        Parol faqat raqamlardan iborat bo'lishi mumkin emas.<br>
                    {% elif "Ikkala parol maydoni bir-biriga mos kelmadi." in error %}
                        Ikkala parol maydoniga bir-xil parol yozing!<br>
                    {% else %}
                        {{ error }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="list-group marginuz">
        <div class="list-group-item bg-detail text-dark">
            <span class="h5 text-success">Email muvaffaqiyatli tasdiqlandi. Yangi parolni kiritishingiz mumkin!</span><br><br>


            <form method="post">{% csrf_token %}
                <label class="form-label" for="id_new_password1">Yangi parol</label>
                <input class="form-control inputuz" type="password" name="new_password1" autocomplete="new-password"
                       required id="id_new_password1"><br>

                <label class="form-label" for="id_new_password2">Parolni qaytadan tasdiqlash</label>
                <input class="form-control inputuz" type="password" name="new_password2" autocomplete="new-password"
                       required id="id_new_password2"><br>


                <button class="btn btn-primary" type="submit">Yangilash</button>
            </form>
        </div>
    </div>
{% endblock content %}