{% extends 'base.html' %}
{% block title %}Forgot your password?{% endblock title %}

{% block content %}
    <div class="list-group marginuz">
        <div class="list-group-item bg-detail text-dark">
            <span class="text-success h5">A password reset link has been sent to your email.</span><br>Check your email. <hr>
            <span class="text-danger">Attention!</span> If you entered your email incorrectly, you will not be able to reset your password!<br>
            If you have forgotten your email address, please contact <a href="{% url 'support' %}">site administration</a>
        </div>
    </div>
{% endblock content %}