{% extends 'base.html' %}
{% block title %}Forgot your password?{% endblock title %}

{% block content %}
    <div class="list-group marginuz">
        <div class="list-group-item bg-detail text-dark">
            <form method="post">{% csrf_token %}

                <label class="form-label" for="id_email">Enter your email address</label><br>
                <input class="form-control inputuz" type="email" name="email" autocomplete="email" maxlength="254"
                                                     placeholder="Kimsan@gmail.com" required id="id_email" /><br>

                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
    </div>
{% endblock content %}